.navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background-color: #A52A2A; 
}

.navWrapper * {
    color: antiquewhite;
    text-decoration: none; /* Removes underline from links */
}

.linkWrapper {
    display: flex;
    justify-content: space-around;
    width: 60%;
    background-color: #A52A2A; 
}

.linkWrapper a:hover{
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px; 
    color: antiquewhite;
    font-weight: bold;
}

.active {
    background-color: antiquewhite; 
    color: brown;
    font-weight: bold;
    padding: 5px 10px; 
    border-radius: 5px; 
}

.burgerMenu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: antiquewhite; /* Ensure icon is visible */
}

@media screen and (max-width: 768px) {
    .linkWrapper {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: rgba(165, 42, 42, 0.9); /* Slightly transparent brown */
    }
    .linkWrapper.show {
        display: flex;
    }
    .linkWrapper a {
        text-align: center;
        padding: 15px 10px;
        color: antiquewhite; 
        background-color: transparent;
    }
    .linkWrapper a.active{
        background-color: black; /* A different color for the active link */
        color: #FFF8DC;
    }
    .burgerMenu {
        display: block;
    }
}
